<ul class="knolage-areas">
  <% if (person.knolage.length)  { %>
    <% person.knolage.forEach(area => { %>
      <li class="knolage-areas--item area area--<%- area.name %>">
        <div class="area--title-container">
          <h3 class="area--title"><%- area.name %></h3>
        </div>

        <% if (area.subArea) { %>
          <div class="category">

            <% area.subArea.forEach(subArea => { %>
              <%- include ./area/subArea.ejs %>
            <% }); %>

            <a href="#" class="see-more">
              <span class="see-more--color"></span><span class="see-more--color"></span><span class="see-more--color"></span>
              <span class="see-more--text">Bekijk alle <%- area.name %> Skills van <%- person.name.first %></span>
            </a>
          <div>
        <% } %>
      </li>
    <% }); %>
  <% } %>

  <% if (person.project.length)  { %>
    <li class="knolage-areas--item area area--project">
      <div class="area--title-container match--project">
        <h3 class="area--title">Project</h3>
      </div>

      <ul class="projects">
        <% person.project.forEach(project => { %>
          <%- include ./area/project.ejs %>
        <% }) %>
      </ul>

      <% if (person.project.length > 1) { %>
        <a href="#" class="see-more">
          <span class="see-more--color"></span><span class="see-more--color"></span><span class="see-more--color"></span>
          <span class="see-more--text">Bekijk alle projecten waar <%- person.name.first %> aan heeft gewerkt</span>
        </a>
      <% } %>
    </li>

  <% } %>
</ul>
