<% 'use strict'; %>

<ul class="knolage-areas">
  <% if (person.knolage.length)  { %>
    <% person.knolage.forEach(area => { %>
      <li class="knolage-areas--item area area--<%- area.name %>">
        <% if (area.subArea) { %>
          <div class="category">
            <% area.subArea.forEach(subArea => { %>
              <%- include ./area/subArea.ejs %>
            <% }); %>
          </div>
        <% } %>
      </li>
    <% }); %>
  <% } %>

  <% if (person.project.length)  { %>
    <li class="knolage-areas--item sub-category area area--project">
      <div class="category">
        <a class="see-more" href="#">
          <p class="see-more--title"><span class="see-more--text">Projecten</span> <span class="see-more--number"><%- person.project.length %></span><%- include ../components/collapse.ejs %></p>
        </a>
        <ul class="projects">
          <% person.project.forEach(project => { %>
            <%- include ./area/project.ejs %>
          <% }) %>
        </ul>

        <div class="project project--overview category--item">
          <h2 class="project--overview-title">Projecturen</h2>
          <% if (person.project[0].hours < 33) { %>
            <img src="./img/project/overview-one.svg" alt="">
          <% } else if (person.project[0].hours >= 33) { %>
            <img src="./img/project/overview-two.svg" alt="">
          <% } else if (person.project[0].hours >= 66) { %>
            <img src="./img/project/overview-three.svg" alt="">
          <% } %>
        </div>
      </div>
    </li>

  <% } %>
</ul>
