<li class="project category--item" id="<%- project.name %>">
  <h4><a href="#<%- project.name %>" class="project--title area--subtitle"><%- project.name %></a></h4>
  <% if (project.role) { %> <p class="project--role">Role: <%- project.role %></p> <% } %>
  <p>Hier komt informatie over het project <%- project.name %>, en wat <%- person.name.first %> hier precies voor heeft gedaan.</p>

  <% if (project.assignments) { %>
    <dl class="project--activities">
      <% project.assignments.forEach(assignment => { %>
        <dt class="project--activities-title"><%- assignment %></dt>
      <% }); %>
    </dl>
  <% } %>
</li>
