<dl class="sub-category">

  <a class="see-more" href="#">
    <%
      let subAreaName = subArea.name;
      if (subAreaName === 'js') {
        subAreaName = 'JavaScript';
      } else if (subAreaName === 'css') {
        subAreaName = 'CSS';
      } else if (subAreaName === 'html') {
        subAreaName = 'HTML';
      }
    %>
    <p class="see-more--title"><%- subAreaName %></p>

    <div class="see-more">
      <span class="see-more--small"></span>
      <span class="see-more--large"></span>
    </div>
  </a>

  <% subArea.points.forEach(point => { %>
    <dd class="category--item fed--tegniques" id="<%- point.hash %>">
      <h4 class="area--subtitle"><a class="area--subtitle-link" href="#<%- point.hash %>"><%- point.name %></a></h4>
      <div class="category--item-container">

        <% if (area.name === 'front-end') { %>
          <%- include ./front-end.ejs %>
        <% } %>
        <% if (area.name === 'design') { %>
          <%- include ./design.ejs %>
        <% } %>

      </div>
    </dd>
  <% }); %>
</dl>
