<dl class="sub-category">

  <a class="see-more" href="#">
    <%
      let subAreaName = subArea.name;
      if (subAreaName === 'js') {
        subAreaName = 'JavaScript';
      } else if (subAreaName === 'css') {
        subAreaName = 'CSS';
      } else if (subAreaName === 'html') {
        subAreaName = 'HTML';
      }
    %>
    <p class="see-more--title"><span class="see-more--text"><%- subAreaName %></span> <span class="see-more--number"><%- subArea.points.length %></span></p>
  </a>

  <% subArea.points.forEach(point => { %>
    <dd class="category--item fed--tegniques" id="<%- point.hash %>">
      <h4 class="area--subtitle">
        <a class="area--subtitle-link" href="#<%- point.hash %>"><%- point.name %></a>
        <%
          let ranking = ['full', 'empty', 'empty'];
          if (point.ranking > 33) { ranking = ['full', 'full', 'empty'] }
          if (point.ranking > 66) { ranking = ['full', 'full', 'full'] }
        %>
        <ul class="ranking">
          <li class="ranking--item"><img class="ranking--img" data-original="<%- ranking[0] %>" src="./img/icons/star-white-<%- ranking[0] %>.svg" alt=""></li>
          <li class="ranking--item"><img class="ranking--img" data-original="<%- ranking[1] %>" src="./img/icons/star-white-<%- ranking[1] %>.svg" alt=""></li>
          <li class="ranking--item"><img class="ranking--img" data-original="<%- ranking[2] %>" src="./img/icons/star-white-<%- ranking[2] %>.svg" alt=""></li>
        </ul>
      </h4>
      <div class="category--item-container">

        <% if (area.name === 'front-end') { %>
          <%- include ./front-end.ejs %>
        <% } %>
        <% if (area.name === 'design') { %>
          <%- include ./design.ejs %>
        <% } %>

      </div>
    </dd>
  <% }); %>
</dl>
